.bg-test {
  background-color: seagreen;
}
.bg-test2 {
  background-color: pink;
}
#canvas {
  /* background-color: wheat; */
}
.chart {
  height: 512px;
  width: 100%;
}
#canvas {
  height: inherit;
  width: inherit;
  background-color: whitesmoke;
}
