.radius-8 {
  border-radius: 8px;
}
.w-inherit {
  width: inherit;
}
.h-512 {
  height: 512px;
}

.h-inherit {
  height: inherit;
}

.w-100p {
  width: 100%;
}
.justify-space-between {
  justify-content: space-between;
}

.bg-test {
  background-color: seagreen;
}
.p-r-10 {
  padding-right: 10px;
}
.bg-test2 {
  background-color: wheat;
}
.overflow-scroll {
  overflow: scroll;
  /* IE scroll 숨김 */
  -ms-overflow-style: none;
}
.overflow-scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

@media (min-width: 1024px) {
  #myChart {
    min-height: 512px;
  }
}

@media (max-width: 1024px) {
  #myChart {
    max-height: 512px;
  }
}
