/* variables */
:root {
  --white: rgb(255, 255, 255);
  --royalblue: rgb(65, 105, 225);
  --light-whitesmoke: rgb(215, 215, 215); /* whitesmoke + 70px */
  --whitesmoke: rgb(240, 240, 240);
  --dark-gray: rgb(105, 105, 105);
  --dm-white: rgb(0, 0, 0); /* dm is dark mode */
  --dm-whitesmoke: rgb(15, 15, 15);
  --dm-light-whitesmoke: rgb(40, 40, 40);
}
/* app global */
.app {
  width: 100vw;
  /* 최적화를 위해 100vh는 하지 않습니다 */
  line-height: 1.2; /* font line height */
}
/* max-width */
.max-width {
  max-width: 1024px;
  margin: 0 auto;
}
/* height */
.h-94 {
  height: 94px;
}
.h-45 {
  height: 45px;
}
.h-4 {
  height: 4px;
}
.h-38-4 {
  height: 38.4px;
}
.h-30 {
  height: 30px;
}
.h-inherit {
  height: inherit;
}
/* width */
.w-320 {
  width: 320px;
}
/* padding */
.p-10 {
  padding: 10px;
}
.p-l-10 {
  padding: 0 0 0 10px;
}
/* font size */
.f-32 {
  font-size: 32px;
}
.f-28 {
  font-size: 28px;
}
.f-18 {
  font-size: 18px;
}

/* border */
.border {
  box-sizing: border-box;
}
.border-1 {
  border: 1px solid;
}
@media (prefers-color-scheme: light) {
  /* background */
  .bg-whitesmoke {
    background-color: var(--whitesmoke);
  }
  .border-whitesmoke {
    border-color: var(--whitesmoke);
  }
  .border-light-whitesmoke {
    border-color: var(--light-whitesmoke);
  }
}
@media (prefers-color-scheme: dark) {
  .dm-bg-whitesmoke {
    background-color: var(--dm-whitesmoke);
  }
  .dm-border-whitesmoke {
    border-color: var(--dm-whitesmoke);
  }
  .dm-border-light-whitesmoke {
    border-color: var(--dm-light-whitesmoke);
  }
}
.radius-500 {
  border-radius: 500px;
}

/* flex */
.flex {
  display: flex;
}
/* direction */
.direction-column {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}
/* 정렬 */
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
/* wrap */
.flex-wrap {
  flex-wrap: wrap;
}
/* resets */
a {
  all: unset;
  cursor: text;
}
input {
  all: unset;
  cursor: text;
}
input::placeholder {
  color: var(--dark-gray);
}
/* remove Safari keychain button */
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}
button {
  all: unset;
  cursor: text;
}
